/* #region RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/* #endregion RESET */

/* #region COLORS */

:root{
    --spo-dark: #000000;
    --spo-gray: #a3a3a3;
    --spo-darkblue: #080b12;
    --spo-primary: #141922;
    --spo-footer: #282828;
    --spo-green: #aff02f;
    --spo-white: white;
}

/* #endregion COLORS */

/* #region DEBUG */

.debug #site_main .menu .logo{
    height: 50px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.547);
}

.debug #site_main .menu .navigation{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 4, 255, 0.547);
}

.debug #site_main .menu .playlist{
    height: 150px;
    width: 100%;
    background-color: rgba(0, 255, 4, 0.547);
}

.debug #site_main .menu .utente{
    height: 50px;
    width: 100%;
    background-color: rgba(255, 0, 183, 0.547);
}

.debug .songs{
    background-color: blueviolet;
    height: 90vh;
}

.debug .songs .upgrade{
    height: 50px;
}

.debug .songs .filters ul{
    width: 600px;
    height: 20px;
    background-color: aqua;
}

.debug [class^="col-"]{
    height: 200px;
    background-color: aquamarine;
    border: 1px dashed red;
}

.debug #site_footer .name_song,
.debug #site_footer .action_song{
    height: 20px;
    width: 100px;
    background-color: darkolivegreen;
}

.debug #site_footer .player{
    height: 40px;
    width: 100px;
    background-color: darkolivegreen;
}

/* #endregion DEBUG */

/* #region UTILITY */

/* flex */

.d-flex{
    display: flex;
}

.direction-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.justify-content-end{
    justify-content: end;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-2{
    gap: 0.5rem;
}

.gap-3{
    gap: 0.75rem;
}

.flex_grow_1{
    flex-grow: 1;
}

.flex_grow_2{
    flex-grow: 2;
}
.flex_end{
    justify-content: flex-end;
}

/* column */

.container{
    width: 95%;
    margin: auto;
}

.row{
    display: flex;
    margin: 0 -0.25rem;
    flex-wrap: wrap;
}

[class^="col-"]{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.col-6{
    width: calc((100% / 12) * 6);
}

.text-align-center{
    text-align: center;
}

/* #endregion UTILITY */

/* #region MAIN */

/* #region menu */

#site_main .menu{
    background-color: var(--spo-dark);
    height: 90vh;
    width: 50px;
}

/* function */

.spotify-logo{
    display: block;
    margin: 0.5rem;
    max-width: 30px;
}

.spotify-logo--text{
    display: none;
}

.navigation{
    text-align: center;
    color: var(--spo-gray);

    & a{
        color: var(--spo-gray);
    }

    & svg{
        max-width: 25px;
        fill: var(--spo-gray);
    }
}

.home,
.search,
.library{
    margin: 0.5rem 0;
}

.home:hover a,
.search:hover a,
.library:hover a{
    color: var(--spo-white);
}

.home:hover svg,
.search:hover svg,
.library:hover svg {
    fill: var(--spo-white);
}

.name_function{
    display: none;
    font-size: 13px;
    font-weight: 700;
}

.home .name_function{
    color: var(--spo-white);
}

.playlist{
    color: var(--spo-gray);
    display: none;

    & h4{
        font-size: 14px;
        font-weight: 700;
        color: var(--spo-white);
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    & .name_playlist{
        font-size: 13px;
        font-weight: 700;
        margin: 1rem 0;

        & a{
            color: var(--spo-gray);
        }
    }
}

.new_playlist span{
    font-size: 14px;
    font-weight: 700;
    color: var(--spo-gray);
}

.square{
    width: 40px;
    aspect-ratio: 1;
    background-color: var(--spo-gray);
    
    & a{
    color: var(--spo-dark);
    font-size: 32px;
    font-weight: 500;
    }
}


.new_playlist:hover .square{
    background-color: var(--spo-white);
}

.new_playlist:hover .create_playlist{
    color: var(--spo-white);
}

.name_playlist a:hover{
    color: var(--spo-white);
}

/* account */

.install {
    text-align: center;

    & svg{
        max-width: 15px;
        fill: var(--spo-gray);
    }

    & .name_function{
        font-size: 13px;
        font-weight: 500;
    }

    & a{
        color: var(--spo-gray);
    }
}

.install a:hover{
    color: var(--spo-white);
}

.profile{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;

    & .user_container{
        width: 25px;
        aspect-ratio: 1;
        background-color: var(--spo-gray);
        border-radius: 50%;
        overflow: hidden;
    }

    & .name_function{
        color: var(--spo-white);
        font-size: 14px;
        font-weight: 900;
    }
}

/* #endregion menu */

/* #region section songs */
.songs{
    height: 90vh;
    width: 100%;
    overflow: auto;
    background-color: var(--spo-primary);

    & h2{
        font-size: 24px;
        font-weight: 700;
        color: var(--spo-white);
    }

    & p{
        font-size: 12px;
        font-weight: 700;
        color: var(--spo-gray);
    }
}

.songs::-webkit-scrollbar {
    width: 15px;
}

.songs::-webkit-scrollbar-track {
    background: var(--spo-white); 
}

.songs::-webkit-scrollbar-thumb {
    background-color: var(--spo-gray); 
    border-radius: 30px;
    border: 3px solid white;
}

/* upgrade */

.songs .upgrade{
    background-color: #080b12d6;
    position: fixed;
    width: calc(100% - 43px);
    z-index: 999;

    & a{
        padding: 1rem 3rem;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--spo-white);
        border: 1px solid var(--spo-white);
        margin: 1rem 1.25rem;
        border-radius: 2rem;
        font-size: 12px;
        font-weight: 700;
    }
}

.upgrade a:hover{
    scale: 1.1;
}

/* filters */

.filters{
    margin-top: 6rem;
    margin-bottom: 1rem;

    & li{
        list-style: none;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 1rem;
        padding: 0.25rem;
    }

    & a{
        color: var(--spo-gray);
    }
}

.filters ul>li:first-child::after{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: var(--spo-green);
    margin: auto;
}

.filters ul>li:after{
    content: '';
    display: block;
    width: 0px;
    max-width: 40px;
    height: 3px;
    background: transparent;
    margin: auto;
    transition: width 1s ease-out, background-color 500ms ease;
}

.filters a:hover {
    color: var(--spo-white);
}

/* recently played */

.recently_played {
    margin-bottom: 2rem;
    & h2{
        margin-bottom: 2rem;
    }
    
}

.d_none_lg{
    display: none;
}

.d_none_md{
    display: none;
}


.box_song {
    margin-bottom: 0.5rem;

    & .title{
        font-size: 16px;
        font-weight: 900;
        color: var(--spo-white);
        margin: 0.5rem 0;
    }

    & .singer{
        font-size: 12px;
        font-weight: 700;
        color: var(--spo-gray);
    }
}

.cover{
    position: relative;
}

.play{
    aspect-ratio: 1;
    width: 100%;
    background-color: #00000085;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    & i{
        font-size: 4em;
    }
}

.cover:hover .play{
    display: flex;
}

.createBy,
.popoular{
    margin-bottom: 1.5rem;
}

.createBy p,
.popoular p{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.circle{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}
/* #endregion section songs */

/* #endregion MAIN */

/* #region FOOTER */

#site_footer{
    height: 10vh;
    width: 100vw;
    background-color: var(--spo-footer);
}

/* name_song */

.song{
    min-width: 30px;
    max-width: 45px;
    margin: 0 0.5rem;
}

.info_song {
    margin-right: 1rem;
    display: none;

    & h5{
        font-size: 12px;
        font-weight: 700;
        color: var(--spo-white);
    }

    & h6{
        font-size: 11px;
        font-weight: 700;
        color: var(--spo-gray);
    }
}

.info_song h6:hover{
    text-decoration: underline;
    color: var(--spo-white);
    cursor: pointer;
}

.name_song i{
    color: var(--spo-gray);
    font-size: 15px;
    margin: 0 0.25rem;
    cursor: pointer;
}

.name_song i:hover{
    color: var(--spo-white);
}

.icon_song{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* player */

.function_player{
margin-bottom: 0.75rem;
    & i{
    margin: 0 0.25rem;
    color: var(--spo-white);
    cursor: pointer;
    }

}

.time_song span{
    font-weight: 700;
    font-size: 10px;
    color: var(--spo-white);
}

.bar{
    margin: 0 0.75rem;
    width: 60%;
    height: 3px;
    background-color: var(--spo-gray);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.barless{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--spo-white);
    height: 100%;
    width: 20%;
}

.bar:hover .hover_barless{
    display: flex;
} 

.hover_barless{
    width: 100%;
    height: 100%;
    background-color: var(--spo-green);
    display: none;
    align-items: center;
    justify-content: end;

    & i{
        color: var(--spo-white);
    }
}

/* action_song */

.action_song > i{
    margin: 0 0.25rem;
    color: var(--spo-white);
    cursor: pointer;
}

.action_song .bar{
    width: 30%;
    min-width: 70px;
    display: none;
}


/* #endregion FOOTER */

/* #region RESPONSIVE LAYOUT */

@media screen and (min-width: 576px) {

    #site_main .menu{
        min-width: 230px;
        padding: 0 1rem;
    }
    
    .spotify-logo{
        display: none;
    }

    
    .spotify-logo--text{
        display: block;
        margin: 1rem 0;
        max-width: 130px;
    }

    .home::before{
        content: '';
        display: block;
        width: 3px;
        height: 30px;
        background: var(--spo-green);
        margin-left: -1rem;
    }

    .search::before,
    .library::before{
        content: '';
        display: block;
        width: 3px;
        height: 30px;
        background: transparent;
        margin-left: -1rem;
    }

    .search:hover:before,
    .library:hover:before{
        background: var(--spo-green);
    }

    .navigation svg{
        margin-left: 0.4rem;
    }

    .home,
    .search,
    .library{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0.5rem 0;
    }

    .navigation{
        text-align: start;
    }

    .name_function{
        display: inline-block;
    }

    .playlist{
        display: block;
    }

    .install{
        display: flex;
        align-items: center;
        text-align: start;
        gap: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--spo-gray);
    }

    .profile{
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
    }

    .songs .upgrade{
        width: calc(100% - 230px);
    }


    .info_song{
        display: block;
    }

    .icon_song{
        flex-direction: row;
    }

    .action_song .bar{
        display: block;
    }
    
}

@media screen and (min-width: 768px) {

    .col-md-3{
        width: calc((100% / 12) * 3);
    }

    .d_none_md{
        display: block;
    }
    
}

@media screen and (min-width: 1200px) {

    .col-lg-2{
        width: calc((100% / 12) * 2);
    }

    .d_none_lg{
        display: block;
    }
    
}

@media (max-height: 350px) {
    #site_footer{
        position: fixed;
        bottom: 0;
        left: 0;
        min-height: 90px;
    }

    #site_main .menu{
        overflow: auto;
        padding-bottom: 4rem;
    }

    .songs{
        padding-bottom: 3rem;
    }
}

/* #endregion RESPNSIVE LAYOUT */

/* #region ANIMAZIONI */

.fa-arrow-rotate-right:hover{
    animation: rotate34 1s linear;
}

@keyframes rotate34 {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.icon_song .fa-heart{
    transition: color 2s;
}

.icon_song .fa-heart:active{
    color: red;
}

.function_player .fa-circle-play{
    transition: transform 3s;
}

.function_player .fa-circle-play:hover{
    transform: scale(1.5)
}

.filters ul>li:hover:after{
    width: 100%;
    background-color: var(--spo-green);
}

/* #endregion ANIMAZIONI */